 <% if flash[:errors]  %>
 <% flash[:errors].each do |error| %>
<p><%=  error %></p>
<% end %>
<% end %>

<h1>Sign in to Cat App</h1>

 <%=form_with url: '/sessions' do |f|%>
  <%=f.label :username%>
  <%=f.text_field :username%>
  <%=f.label :password%>
  <%=f.password_field :password%>
  <%=f.submit "Sign in"%>
<%end%>
<br><br>
<p>New User? Click <a href='/users/new'>here</a> to sign up!</p>
