
<%= form_with model: @user do |f|  %>
<p><%= f.label :username %></p>
<%= f.text_field :username %>
<br><br>
<p><%= f.label :password %></p>
<%= f.password_field :password %>
<br><br>
<p><%= f.label :password_confirmation, "Confirm Password"%></p>
<%= f.password_field :password_confirmation%>
<br><br>
<p><%= f.label :name, "Display Name" %></p>
<%= f.text_field :name %>
<br><br>
<div style="text-align:center;">
<br>
<%= f.submit "Submit" %>
</div>
<% end %>
