<div class='page'>

<h1><%=@user.name%></h1>
<br><br>
<h2>My Cats</h2>
<div class="button">
<%= button_to "Add a New Cat", new_cat_path, method: :get %>
</div>
<br>
<div class="form">
<% if @cats.length > 0  %>
<%@cats.each do |cat|%>
  <%= render partial: "layouts/cat_display", locals: {cat: cat} %>
    <br><br>
  <% end %>
<% else %>
<p>None</p>
<% end %>

<br><br>

<h2>My Reservations</h2>
<% if @reservations.length > 0 %>
  <ul>
    <% @reservations.each do |reservation| %>
      <li><%= link_to "#{reservation.date.to_s(:custom_datetime)} #{reservation.cat.name}", reservation %></li>
    <% end  %>
  </ul>
<% else %>
  None
<% end %>



<h2>Reviews of Me</h2>
<% if @reviews_of_me && !@reviews_of_me.empty? %>
<%@reviews_of_me.each do |review|%>
     <%= link_to review.reservation.cat.owner.name, review.reservation.cat.owner %>
    <p><%=("⭐️" * review.rating)+("☆" * (5 - review.rating))%><%= review.rating.to_f %>/5</p>
    <p>"<%= review.review %>"</p>
  <%end%>
<% else %>
  <p>None</p>
<% end %>
</div>

</div>


