<div class='page'>
<h1 style='border:solid; padding:50px;'>My Profile</h1>
<br><br>
<div class='form'><h2>My Cats</h2></div>
<div class="button">
<%= button_to "Add a New Cat", new_cat_path, method: :get %>
</div>
<br>
<%# <div class="form"> %>
<% if @cats.length > 0  %>
<%@cats.each do |cat|%>
<div class='cat'>
  <%= render partial: "layouts/cat_display", locals: {cat: cat} %>
    <br><br>
  <% end %></div>
<div class="form">
<% else %>
<p>None</p>
<% end %>

<br><br>

<h2>My Reservations</h2>
<% if @reservations.length > 0 %>
    <% @reservations.each do |reservation| %>
      <%= link_to "#{reservation.date.to_s(:custom_datetime)} #{reservation.cat.name}", reservation %>
      <br>
    <% end  %>
<% else %>
  <p>None</p>
<% end %>

<br><br>

<h2>Reviews of Me</h2>
<% if @reviews_of_me && !@reviews_of_me.empty? %>
<%@reviews_of_me.each do |review|%>
     <%= link_to review.reservation.cat.owner.name, review.reservation.cat.owner %>
    <p><%=("⭐️" * review.rating)+("☆" * (5 - review.rating))%><%= review.rating.to_f %>/5</p>
    <p>"<%= review.review %>"</p>
  <%end%>
<% else %>
  <p>None</p>
<% end %>
</div>

<%# </div> %>


