 
<div class='profile'>
<h1 style='border:solid; padding:50px;'>My Profile</h1>
<div class="button">
<%= button_to "Add a New Cat", new_cat_path, method: :get %>
</div>
<br><br>
<h2 style="float:left;"><u>My Cats</u></h2>
<br><br>
<%# <div class="form"> %>
<% if @cats.length > 0  %>
<%@cats.each do |cat|%>
<div class='cat'>
  <%= render partial: "layouts/cat_display", locals: {cat: cat} %>
    <br><br>
    <div style="text-align: left; margin-left: 50px;">
    <h3>Reservations</h3>
    <h4>
    <% if cat.reservations.length > 0 %>
      <% cat.reservations.each do |reservation|%>
    
      <%= link_to "#{reservation.date.to_s(:custom_datetime)}", reservation %>

        <% end %></h4></div>
      <% else %>
    <p>None</p>
    <% end %>
    <br><br>
  <% end %></div>
<% else %>
<p>None</p>
<% end %>

<br><br>

<h2><u>My Reservations</u></h2>
<% if @reservations.length > 0 %>
    <% @reservations.each do |reservation| %>
      <%= link_to "#{reservation.date.to_s(:custom_datetime)} #{reservation.cat.name}", reservation %>
      <br>
    <% end  %>
<% else %>
  <p>None</p>
<% end %>

<br><br>

<h2><u>Reviews of Me</u></h2>
<% if @reviews_of_me && !@reviews_of_me.empty? %>
<%@reviews_of_me.each do |review|%>
     <%= link_to review.reservation.cat.owner.name, review.reservation.cat.owner %>
    <p><%=("⭐️" * review.rating)+("☆" * (5 - review.rating))%><%= review.rating.to_f %>/5</p>
    <p>"<%= review.review %>"</p>
  <%end%>
<% else %>
  <p>None</p>
<% end %>
</div>

</div>


