<h1>Rent a Cat!</h1>

<%= form_with model: @reservation do |f| %>
    <input type="hidden" name="reservation[cat_id]" value=<%=@cat_id%>>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <%= f.submit %>
<% end %>