 

<h1>Rent <%= @cat.name %></h1>
<div class="form">
<%= form_with model: @reservation do |f| %>
    <input type="hidden" name="reservation[cat_id]" value=<%=@cat_id%>>
    <p><%= f.label :date %></p>
    <%= f.date_field :date %>
    <br><br>
    <%= f.submit %>
<% end %>
</div>