<%if flash[:error]%>
  <%=flash[:error]%>
<%end%>

<h1><%=@cat.name%></h1>
<!--insert kitty pic here-->
<%= image_tag "kitten_test.jpg", height: '150', width: '150'%>

<br><br>
<h2 style="margin: 0; display: inline;">Owner:</h2>
<!--link to owner-->
<h3 style="margin: 0; display: inline;" align="right"><%=@cat.owner.name%></h3>
<br>
<h2 style="margin: 0; display: inline;">Breed:</h2>
<h3 style="margin: 0; display: inline;" align="right"><%=@cat.breed%></h3>
<br>
<h2 style="margin: 0; display: inline;">Price:</h2>
<h3 style="margin: 0; display: inline;" align="right">$<%=@cat.price%></h3>
<br>
<h2 style="margin: 0; display: inline;">Neighborhood:</h2>
<h3 style="margin: 0; display: inline;" align="right"><%=@cat.neighborhood%></h3>
<br>
<p>Tags: 
  <%if @cat.tags.length > 0%>
    <%@cat.tags.each do |tag|%>
    #<%=link_to tag.name, tag_search_path(tag.name)%> 
    <%end%>
  <%else%>
      None
  <%end%>
</p>
<%if current_user.id == @cat.owner_id.to_i%>
  <%= button_to 'Edit ' + @cat.name, edit_cat_path(@cat), method: :get%>
  <%= button_to 'Delete ' + @cat.name, cat_path(@cat), method: 'delete'%>
<%end%>
