<h1 class='cat'><%=link_to cat.name, cat %></h1>

<div class="catpicname">
  <% if cat.image.attached?%>
    <%= image_tag cat.image, height: '160', width: '160', class:'image' %>
  <% else %>
    <%=  image_tag "default.jpg", height: '160', width: '160', class:'image'%>
  <% end %>
</div>
<div class="catinfo">
  <h4 style="margin: 0; display: inline;">Owner:</h4>
  <p style="margin: 0; display: inline;" align="right"><%=link_to cat.owner.name, cat.owner %></p>
  <br>
  <h4 style="margin: 0; display: inline;">Rating:</h4>
  <% if cat.overall_rating > 0 %>
    <p style="margin: 0; display: inline;" align="right"><%=("⭐️" * cat.overall_rating.to_i)+("☆" * (5 - cat.overall_rating.to_i)) %>
    <%="#{cat.overall_rating} / 5"%></p>
  <% else %>
    <p style="margin: 0; display: inline;">None</p>
  <% end %>
  <br>
  <h4 style="margin: 0; display: inline;">Neighborhood:</h4>
  <p style="margin: 0; display: inline;" align="right"><%=cat.neighborhood%></p>
  <br>
  <h4 style="margin: 0; display: inline;">Price:</h4>
  <p style="margin: 0; display: inline;" align="right">$<%=cat.price%></p>
  <br>
  <h4 style="margin: 0; display: inline;">Tags:</h4>
  <p style="margin: 0; display: inline;" align="right">
  <%if cat.tags.length > 0%>
    <%cat.tags.uniq.each do |tag|%>
      #<%=link_to tag.name, "/cats/?q=#{tag.name}"%> 
    <%end%>
  <%else%>
    None
  <%end%></p>
</div>