<!DOCTYPE html>
<html>
  <head>
    <title>CatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <h3><%= error %></h3>
        <br>
        <% end %>
    <% end %>

    <%= yield %>
    <br><br>
      <% if session[:user_id] %>
      You are logged in as <%=User.find_by(id: session[:user_id]).name%>. 
      <%= button_to "My Profile", my_profile_path, method: :get %>
      <%= button_to "Logout", logout_path, method: :delete%> 
    <% end %>
    </body>
</html>
